# Configurações do Airflow
AIRFLOW_UID=1000

# Configurações de SMTP (E-mail)
SMTP_HOST=smtp.<domain>.com
SMTP_USER=<email that will send the alert>
SMTP_PASSWORD=<your app password>
SMTP_PORT=587
SMTP_MAIL_FROM=<email that will receive alert>